@media all and (max-width: 1399px) {
   
}



@media all and (max-width:1199px) {
   

}

@media all and (max-width:991px) {
    .clients_think_main_area{
        padding: 100px 0 50px 0;
    }
    .lets_talk_main_area {
        padding: 100px 0;
    }
    .talk_wrapper .sub_text {
        font-size: 27px;
        line-height: normal;
    }

    .data_security_main {
        padding: 70px 0 100px 0;
    }
    .banner_top_content .sub_tittle {
        padding-top: 40px;
    }
    .data_security_img {
        padding: 50px 0 10px 0;
        text-align: center;
    }
    .data_security_img img {
        max-width: 573px;
    }
}

@media all and (max-width:767px) {
    .clients_think_main_area{
        padding: 60px 0 50px 0;
    }
    .lets_talk_main_area {
        padding: 60px 0;
    }
    .talk_wrapper .sub_text {
        font-size: 25px;
    }
    .data_security_main {
        padding: 50px 0 80px 0;
    }

    .banner_top_content .sub_tittle {
        padding-top: 35px;
    }
    .banner_single_items {
        padding-top: 28px;
    }
}
@media all and (max-width:575px) {
    .clients_think_main_area{
        padding: 50px 0 20px 0;
    }
    .lets_talk_main_area {
        padding: 50px 0;
    }
    .talk_wrapper .sub_text {
        font-size: 22px;
    }

    .data_security_main {
        padding: 30px 0 50px 0;
    }
    .banner_top_content .sub_tittle {
        padding-top: 25px;
    }
    .plus_img {
        margin-top: 3px;
    }
    .plus_img img {
        width: 16.027px;
        height: 16.024px;
    }
    .banner_single_items {
        padding-top: 20px;
    }
    .single_items_text .single_item_tittle {
        padding-bottom: 10px;
    }
}
@media all and (max-width:450px) {
    .talk_wrapper .sub_text {
        font-size: 20px;
    }
}










